@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
}

body {
    font-family:'Open sans', 'Roboto',' Noto sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #000000;
}

.logo {
    align-self: flex-start;
    grid-column: span 2;
    grid-row: 1;
    width: 100px;
    margin-bottom: 40px;
}

.formContainer {
    display: grid;
    grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    grid-template-rows: auto auto;
    gap: 30px;
}

.left {
    grid-column: 1;
    grid-row: 2;
}

.headline {
  display: flex;
}

.left h1 {
    color: #0158a7;
    font-weight: 700;
    margin-bottom: 20px;
}

.left p {
    margin-bottom: 40px;
}

.imgGrid {
    display: grid;
    grid: repeat(8, 100px) / repeat(2, 1fr);
    gap: 10px;
}

.box {
    width: 100%;
    background-color: #fbda0c;
}

.box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.a, .e {
  grid-column-start: 1;
  grid-row: span 2;
}

.c {
  grid-column-start: 1;
  grid-row: span 3;
}

.b, .f {
  grid-column-start: 2;
  grid-row: span 3;
}

.d {
  grid-column-start: 2;
  grid-row: span 2;
}

form {
    grid-column-start: 2;
    grid-row-start: 2;
}

.firstName, .lastName, .email, .password {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #a0a0a0; 
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 8px;
  }

  a {
    color: #222222;
  }

  form {
    display: grid;
    gap: 20px;
  }

  form p {
    font-weight: 700;
  }

  .email p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    color: #707070;
  }

  button {
    border-radius: 20px;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid transparent;
    background-color: #222222;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: #434343;
  }

  label {
    font-weight: 500;
  }

  .radio label, .checkbox label {
    font-weight: 400;
    font-size: 14px;
  }