body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
}

.formContainer form {
    display: grid;
    grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    gap: 20px;
}

h1 {
    color: #4371e7;
}

h2 {
  font-size: 16px;
}

label {
  font-weight: 600;
  font-size: 16px;
}

.lastName, .firstName, .email, .password {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #a0a0a0; 
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 8px;
  }

  button {
    border-radius: 20px;
    padding: 10px 15px;
    border: 2px solid transparent;
    background-color: #4371e7;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: #1a4bc5;
  }

  .register, .email, .password, .radio, .checkbox {
    grid-column: 1;
  }

  input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 1.5px solid #a0a0a0;
  }
  
  input[type="radio"]:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked:before {
    background: #4371e7;
    border-color: #4371e7;
  }
  
  input[type="radio"]:checked {
    border-color: #4371e7;
    border-color: #4371e7;
  }

  input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    border: 1.5px solid #a0a0a0;
  }

  .radio, .checkbox {
    display: flex;
    align-items: center;
  }

  .radio label, .checkbox label {
    margin: 0px 20px 0px 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .container {
    grid-column: span 2;
  }

  input:focus::placeholder {
    color: transparent;
  }

  a {
    color: #1a4bc5;
  }