body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
}

.formContainer form {
    display: grid;
    grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    gap: 20px;
}

h1 {
    color: #4371e7;
    margin-bottom: 10px;
}

p {
  font-size: 15px;
  margin-bottom: 30px;
}

h2 {
  font-size: 16px;
}

label {
  font-weight: 600;
  font-size: 16px;
}

.lastName, .firstName, .email, .password {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #a0a0a0; 
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 8px;
  }

  button {
    border-radius: 20px;
    padding: 10px 15px;
    border: 2px solid transparent;
    background-color: #4371e7;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: #123898;
  }

  .register, .email, .password, .radio, .checkbox {
    grid-column: 1;
  }
  
  .radio, .checkbox {
    display: flex;
    align-items: center;
  }

  .radio label, .checkbox label {
    margin: 0px 20px 0px 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .container {
    grid-column: span 2;
  }

  input:focus::placeholder {
    color: transparent;
  }

  a {
    color: #222222;
  }